<form action="/procesar-formulario" method="post">
  <label for="mailDestinatario">Mail Destinatario:</label>
  <input type="text" id="mailDestinatario" name="mailDestinatario" required>
  
  <label for="dedicatoria">Dedicatoria:</label>
  <textarea id="dedicatoria" name="dedicatoria" required></textarea>
  
  <label for="remitente">Remitente:</label>
  <input type="text" id="remitente" name="remitente" required>
  
  <label for="codigo">Código:</label>
  <input type="text" id="codigo" name="codigo" required>
  
  <label for="monto">Monto:</label>
  <select id="monto" name="monto" required>
    <option value="5000">5000</option>
    <option value="6000">6000</option>
    <option value="7000">7000</option>
    <option value="8000">8000</option>
    <option value="9000">9000</option>
    <option value="10000">10000</option>
    <option value="11000">11000</option>
    <option value="12000">12000</option>
    <option value="13000">13000</option>
    <option value="14000">14000</option>
    <option value="15000">15000</option>
    <option value="16000">16000</option>
    <option value="17000">17000</option>
    <option value="18000">18000</option>
    <option value="19000">19000</option>
    <option value="20000">20000</option>
    <option value="25000">25000</option>
    <option value="30000">30000</option>
    <option value="35000">35000</option>
    <option value="40000">40000</option>
    <option value="45000">45000</option>
    <option value="50000">50000</option>
    <option value="60000">60000</option>
    <option value="70000">70000</option>
    <option value="80000">80000</option>
    <option value="90000">90000</option>
    <option value="100000">100000</option>
  </select>
  <img src="../public/assets/Gift_Cards_Imagenes/5000.png">
  <button type="submit">Enviar</button>
</form>
